extends layout

block content
  h1= title


doctype html    
html 
 head
  title Books
  link(href='/static/stylesheets/style.css' rel='stylesheet')
 
  h1 Books
  p
  a.button(href="/books/new") Create New Book

  each book in books
    book
      h3= book.title
      a(href = "/books/" + book.id)
