extends layout

block content 
  span
  div
 



    <br>
     h1(style='text-align: left') Books

        form
            input( name='search' type='text' placeholder="Type a book..." id= title) 
            input(style="display: flex" type='submit' value='Search')

        

  p
    a(class="button" style='margin-left: 620px;' href=`/books/new`) Create New Book        





  table 
    thead 
      tr 
        th Title 
        th Author 
        th Genre 
        th Year
    tbody 
      each book in books
        tr 
          td
            a(href=`/books/${book.id}`)= book.title 
          td= book.author
          td= book.genre
          td= book.year